/* normal weight */
@font-face{
	font-family: roboto;
	src: url(roboto-400.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: roboto;
	src: url(roboto-400i.woff2) format('woff2');
	font-weight: normal;
	font-style: italic;
}
/* medium weight (no italic?) (only used for ui things) */
@font-face{
	font-family: roboto;
	src: url(roboto-500.woff2) format('woff2');
	font-weight: 500;
}
/* bold */
@font-face{
	font-family: roboto;
	src: url(roboto-700.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: roboto;
	src: url(roboto-700i.woff2) format('woff2');
	font-weight: bold;
	font-style: italic;
}
/* monospaced font */
/* I loaded/saved this with fontforge and the filesize reduced from 105k to 63k... not sure why */
@font-face{
	font-family: 'cascadia code';
	src: url(cascadia-mono.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}
