.🍂 pre {
	background-color: #000;
	color: #EEE;
}
.🍂 pre * {
	background-color: transparent;
}
.🍂 pre .name {
	color: #7FF5EF;
}
.🍂 pre .string {
	color: #59EE79;
}
.🍂 pre .number {
	color: #f359ab;
}
.🍂 pre .keyword {
	font-weight: bold;
	color: #2494f0;
}
.🍂 pre .comment {
	color: #a1f198;
}
.🍂 pre .variable {
	color: #fbf4cb;
}
.🍂 pre .function {
	color: #8d7ff5;
}
.🍂 pre .statement {
	color: #7ff5ef;
}
.🍂 pre .backslash {
	color: #777;
}
.🍂 pre .operator {
	color: #EEE;
}
.🍂 pre .equals {
	color: #EEE;
}

.🍂 pre .label {
	color: #f4963e;
}

.🍂 pre .word-operator {
	color: #2494f0;
}
.🍂 pre .to-step {
	color: #2494f0;
}
.🍂 pre .constant {
	color: #aeb5c2;
}


/*--highlight-question: #2494f0;*/

