@charset "utf-8";

.Markup pre {
	background-color: #000;
	color: #EEE;
}
.Markup pre * {
	background-color: transparent;
}
.Markup pre .name {
	color: #7FF5EF;
}
.Markup pre .string {
	color: #59EE79;
}
.Markup pre .number {
	color: #f359ab;
}
.Markup pre .keyword {
	font-weight: bold;
	color: #2494f0;
}
.Markup pre .comment {
	color: #a1f198;
}
.Markup pre .variable {
	color: #fbf4cb;
}
.Markup pre .function {
	color: #8d7ff5;
}
.Markup pre .statement {
	color: #7ff5ef;
}
.Markup pre .backslash {
	color: #777;
}
.Markup pre .operator {
	color: #EEE;
}
.Markup pre .equals {
	color: #EEE;
}

.Markup pre .label {
	color: #f4963e;
}

.Markup pre .word-operator {
	color: #2494f0;
}
.Markup pre .to-step {
	color: #2494f0;
}
.Markup pre .constant {
	color: #aeb5c2;
}


/*--highlight-question: #2494f0;*/

