.markup-root {
	white-space: pre-wrap;
	overflow-x: auto;
	vertical-align: baseline;
}

.markup-root table, .markup-root td, .markup-root th {
	border: 1px solid var(--maintxtcolor);
	border-collapse: collapse;
}

.markup-root td, .markup-root th {
	padding: 0.2em 0.3em;
}

.markup-root table {
	overflow-wrap: break-word;
}

.markup-root a[href] {
	/*color: rgb(0, 80, 150);*/
	text-decoration: underline;
}

.markup-root a[href]:visited {
	/*color: rgb(0, 80, 150);*/
}

.markup-root a[href]:hover {
	/*color: rgb(50, 130, 200)*/
}

.markup-root h2,
.markup-root h3,
.markup-root h4 {
	font-weight: 500;
	margin-block: 0.6em 0.2em;
	
	margin-left: -.3em;
	padding-left: .3em;
}

.markup-root h2 {
	font-size: 2em;
	border-bottom: 1px solid #ddd;
}

.markup-root h3 {
	font-size: 1.6em;
	border-bottom: 1px solid #eaecef;
}

.markup-root h4 {
	font-size: 1.2em;
	border-bottom: 1px solid #EEE;
}

.markup-root pre, .markup-root code {
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	/*word-break: break-all;*/ /* this has some nasty effects when interacting with other inline elements. I want to try replacing spaces in <code> with &nbsp; maybe but its kinda cursed... */
	font-family: 'cascadia code', consolas, monospace;
	font-size: 0.9em;
}

.markup-root pre {
	color: white;
	background-color: black;
	border: 1px solid black;
	padding: 0.5em;
	margin-block: 0.25em;
	word-break: break-all;
}

.markup-root code {
	background-color: rgba(0,0,0,0.1);
	padding: 0 0.2em;
}

.markup-root pre /*, .markup-root table*/ {
	box-shadow: 2px 2px 2px var(--border-color);
}

.markup-root ruby {
	white-space: normal;
}

.markup-root ol {
	margin-left: 2em;
	padding-left: 0;
}

.markup-root ul, .markup-root ol ol, .markup-root ul ol {
	margin-left: 1.1em;
	padding-left: 0;
}

.markup-root video {
	min-width: 8rem;
}

.markup-root img, .markup-root audio, .markup-root video {
	max-width: 100%;
	max-height: 10vh;
	display: block;
	-webkit-transition: max-height 0.25s ease;
	transition: max-height 0.25s ease;
}

.markup-root [data-loading] {
	min-height: 10vh;
}

.markup-root [data-big] {
	max-height: 75vh;
}

markup-root .youtube {
	display: block;
	max-width: 100%;
}

.markup-root .youtube a[href] {
	width: 320px;
	height: 180px;
	max-height: 10vh;
	max-width: 17.778vh;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background-size: cover;
}

.markup-root .playingYoutube a[href] {
	width: 480px;
	height: 270px;
	max-height: none;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.markup-root .youtube a[href] iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: inline-block;
}

.markup-root .videoTitle, .markup-root .videoAuthor {
	color: white;
	background-color: rgba(0,0,0,0.3);
	padding: 0 0.2em;
	display: inline-block;
}

.markup-root .cell {
	background-color: var(--mainbgcolor); /* needed to reset for nested tables */
}

.markup-root [data-bgcolor="red"] {
	background-color: var(--bgred);
}
.markup-root [data-bgcolor="green"] {
	background-color: var(--bggreen);
}
.markup-root [data-bgcolor="yellow"] {
	background-color: var(--bgyellow);
}
.markup-root [data-bgcolor="orange"] {
	background-color: var(--bgorange);
}
.markup-root [data-bgcolor="blue"] {
	background-color: var(--bgblue);
}
.markup-root [data-bgcolor="purple"] {
	background-color: var(--bgpurple);
}
.markup-root [data-bgcolor="gray"] {
	background-color: var(--bggray);
}

.markup-root .spoilerButton {
	padding: 0 0.3em;
	background: var(--bar-bg);
	border: 2px solid var(--border-color);
	border-style: outset;
	border-radius: 2px;
	margin-inline: 0.2em;
	margin-top: 1px;
	display: table;
}

.markup-root .spoilerButton:hover {
	border-color: var(--button-hover-color);
}

.markup-root spoilerButton:active {
	border-style: inset;
}

.markup-root .spoiler {
	padding: 0.5em;
	border: 1px solid var(--border-color);
	background: var(--bar-bg);
	margin-bottom: 1px;
}

.spoilerButton:not([data-show]) + .spoiler {
	display: none;
}

.markup-root .spoilerButton:not([data-show]):before {
	content: "Show ";
}

.spoilerButton[data-show] {
	border-bottom: none;
}

.markup-root .spoilerButton[data-show]:before {
	content: "Hide ";
}

.markup-root .invalid {
	background: var(--error-bg);
}

.markup-root .error {
	background: var(--error-bg);
	border: 1px solid black;
	padding: 0.2em;
	border-radius: 5px;
}

.markup-root .tableContainer {
	overflow-x: auto;
	max-width: 100%;
	margin-block: 0.2em;
}

/*.markup-root th.cell {
	background-color: #222;
	color: white;
	border-color: white;
}*/

.markup-root blockquote {
	padding: 0.3em;
	padding-left: 0.5em;
	border: 1px solid var(--border-color);
	background: var(--bar-bg);
	margin-block: 1px;
}

.markup-root blockquote > cite {
	margin-left: -1em;
}

/*.markup-root blockquote[cite]::before {
	content: attr(cite) ":\A";
	white-space: pre;
	font-weight: bold;
	margin-left: -1em;
	display: block;
	margin-bottom: 0.2em;
}*/

/*.markup-root > :first-child {
	margin-top: 0;
}
.markup-root > :last-child {
	margin-bottom: 0;
}
this doesn't work because text nodes...
*/

.markup-root .i {
	text-decoration: wavy underline red;
}

.markup-root a[href].customLink {
	background-color: rgba(0,0,255,0.1);
}

.markup-root > iframe {
	width: 100%;
	margin: 0;
	max-height: 50vh;
	border: none;
	height: 0;
}
