:root {
	white-space: pre-wrap;
	overflow-x: auto;
}

* {
	vertical-align: baseline;
}

table, td, th {
	border: 1px solid var(--maintxtcolor);
	border-collapse: collapse;
}

td, th {
	padding: 0.2em 0.3em;
}

table {
	overflow-wrap: break-word;
}

a[href] {
	/*color: rgb(0, 80, 150);*/
	text-decoration: underline;
	display: inline;
}

a[href]:visited {
	/*color: rgb(0, 80, 150);*/
}

a[href]:hover {
	/*color: rgb(50, 130, 200)*/
}

h2,
h3,
h4 {
	font-weight: 500;
	margin-block: 0.6em 0.2em;
	
	margin-left: -.3em;
	padding-left: .3em;
}

h2 {
	font-size: 2em;
	border-bottom: 1px solid #ddd;
}

h3 {
	font-size: 1.6em;
	border-bottom: 1px solid #eaecef;
}

h4 {
	font-size: 1.2em;
	border-bottom: 1px solid #EEE;
}

pre, code {
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	/*word-break: break-all;*/ /* this has some nasty effects when interacting with other inline elements. I want to try replacing spaces in <code> with &nbsp; maybe but its kinda cursed... */
	font-family: 'cascadia code', consolas, monospace;
	font-size: 0.9em;
}

pre {
	color: white;
	background-color: black;
	border: 1px solid black;
	padding: 0.5em;
	margin-block: 0.25em;
	word-break: break-all;
}

code {
	background-color: rgba(0,0,0,0.1);
	padding: 0 0.2em;
}

pre /*, table*/ {
	box-shadow: 2px 2px 2px var(--border-color);
}

ruby {
	white-space: normal;
}

ol {
	margin-left: 2em;
	padding-left: 0;
}

ul, ol ol, ul ol {
	margin-left: 1.1em;
	padding-left: 0;
}

video {
	min-width: 8rem;
}

img, audio, video {
	max-width: 100%;
	max-height: 10vh;
	display: block;
	-webkit-transition: max-height 0.25s ease;
	transition: max-height 0.25s ease;
}

[data-loading] {
	min-height: 10vh;
}

[data-big] {
	max-height: 75vh;
}

.youtube {
	display: block;
	max-width: 100%;
}

.youtube a[href] {
	width: 320px;
	height: 180px;
	max-height: 10vh;
	max-width: 17.778vh;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background-size: cover;
}

.playingYoutube a[href] {
	width: 480px;
	height: 270px;
	max-height: none;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.youtube a[href] iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: inline-block;
}

.videoTitle, .videoAuthor {
	color: white;
	background-color: rgba(0,0,0,0.3);
	padding: 0 0.2em;
	display: inline-block;
}

.cell {
	background-color: var(--mainbgcolor); /* needed to reset for nested tables */
}

[data-bgcolor="red"] {
	background-color: var(--bgred);
}
[data-bgcolor="green"] {
	background-color: var(--bggreen);
}
[data-bgcolor="yellow"] {
	background-color: var(--bgyellow);
}
[data-bgcolor="orange"] {
	background-color: var(--bgorange);
}
[data-bgcolor="blue"] {
	background-color: var(--bgblue);
}
[data-bgcolor="purple"] {
	background-color: var(--bgpurple);
}
[data-bgcolor="gray"] {
	background-color: var(--bggray);
}

.spoilerButton {
	padding: 0 0.3em;
	background: var(--bar-bg);
	border: 2px solid var(--border-color);
	border-style: outset;
	border-radius: 2px;
	margin-inline: 0.2em;
	margin-top: 1px;
	display: table;
}

.spoilerButton:hover {
	border-color: var(--button-hover-color);
}

spoilerButton:active {
	border-style: inset;
}

.spoiler {
	padding: 0.5em;
	border: 1px solid var(--border-color);
	border-left: 4px solid var(--border-color);
	background: var(--spoiler-bg);
	margin-bottom: 1px;
}

.spoilerButton:not([data-show]) + .spoiler {
	display: none;
}

.spoilerButton:not([data-show]):before {
	content: "Show ";
}

.spoilerButton[data-show] {
	border-bottom: none;
}

.spoilerButton[data-show]:before {
	content: "Hide ";
}

.invalid {
	background: var(--error-bg);
}

.error {
	background: var(--error-bg);
	border: 1px solid black;
	padding: 0.2em;
	border-radius: 5px;
}

.tableContainer {
	overflow-x: auto;
	max-width: 100%;
	margin-block: 0.2em;
}

/*th.cell {
	background-color: #222;
	color: white;
	border-color: white;
}*/

blockquote {
	padding: 0.3em;
	padding-left: 0.5em;
	border: 1px solid var(--border-color);
	background: var(--bar-bg);
	margin-block: 1px;
}

blockquote > cite {
	margin-left: -1em;
}

/*blockquote[cite]::before {
	content: attr(cite) ":\A";
	white-space: pre;
	font-weight: bold;
	margin-left: -1em;
	display: block;
	margin-bottom: 0.2em;
}*/

/*> :first-child {
	margin-top: 0;
}
> :last-child {
	margin-bottom: 0;
}
this doesn't work because text nodes...
*/

.i {
	text-decoration: wavy underline red;
}

a[href].customLink {
	background-color: var(--link-bg-color);
}

iframe {
	width: 100%;
	margin: 0;
	max-height: 50vh;
	border: none;
	height: 0;
}
