@charset "utf-8";

/* general */

html {
	background: #FEE; /* (for debug) */
	color: var(--T-color);
	font: var(--T-font);
	line-height: normal;
	/* alternate glyphs for K and k (whatever) */
	font-feature-settings: "ss04" on;
}

* {
	/* disable ligatures like fi ffi etc.
		(doesn't affect real languages or emoji) */
	font-variant-ligatures: none !important;
}

body {
	background: var(--T-bg);
}

/* logged in/out display */
:root:not([data-login]) .loggedIn,
:root[data-login] .loggedOut {
	display: none !important;
}

/* inputs and focus */
/* these elements's sizes are fucking weird and make no sense */
/*input:not([type]) {
	width: 12em;
}
input[type="number"] {
	width: 8em;
}*/
input[type="checkbox"] {
	max-width: 8em;
}
input, output, select, textarea {
	font: inherit;
	font-size: 0.875em;
	background-color: var(--T-bg);
	border: 2px solid var(--T-textarea-border-color);
	border-radius: 1px;
}
output {
	border-color: gray;
}
input, select { /* do we need this? */
	min-width: 0;
	max-width: 100%;
}
input, select, button, input::placeholder {
	color: var(--T-color);
}
select {
	border-left-width: 4px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
input[type="file"] {
	line-height: calc(var(--bar-height) - 4px);
}
input::file-selector-button {
	vertical-align: top;
	height: 100%;
	line-height: 1;
}
input::placeholder {
	font-style: italic;
	color: #80808099;
	padding-left: 0.3125rem;
}
input:invalid {
	background: var(--error-bg);
}

/* textarea */
textarea {
	max-width: 100%;
	border: 2px solid var(--T-textarea-border-color);
	border-radius: 0;
	box-shadow: 0.125rem 0.1875rem 0.3125rem -0.1875rem #0D0D0D80;
	color: var(--T-color);
	background-color: var(--T-bg) !important;
	white-space: break-spaces; /* optional */
	tab-width: 3;
}
.code-textarea {
	line-break: anywhere;
	white-space: break-spaces; !important;
	/*font: var(--T-monospace-font);*/
}
textarea-container {
	border: 2px solid var(--T-textarea-border-color);
	padding: 5px;
	background: var(--T-bg);
}
textarea-container > textarea {
	height: 2.625em; /* should be approx. line-height * 2 */
	min-height: 2.625em;
	box-shadow: none;
	border-radius: 0;
}
textarea-container > textarea:focus {
	outline: 5px solid #878;
	outline-offset: 3px;
	border-radius: 0;
	animation-name: none;
}
textarea-container, textarea-container > textarea {
	max-height: 25vh;
}

/************
 ** Button **
 ************/
button {
	cursor: pointer;
	font: inherit;
	font-size: 0.8125em;
	line-height: normal !important;
	
	border: var(--T-button-border);
	border-radius: 0px;
	padding: 0 0.5rem;
	
	background: var(--button-bg);
}
button:hover {
	background: var(--button-hover-bg);
}
button:disabled {
	color: var(--chat-dim-color); /*todo: proper color here */
	background: var(--button-disabled-bg);
}
button[aria-selected="true"] {
	backguijkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkiiiinround: var(--button-selected-bg);
	background: var(--button-selected-bg);
	box-shadow: 0px 1px 3px inset var(--button-shadow-color);
}
button:active {
	background: var(--button-selected-bg);
	box-shadow: 0px 1px 3px inset var(--button-shadow-color);
}
button:hover {
	box-shadow: 0px 0px 2px inset var(--button-shadow-color);
}


/* tabs */
tab-list {
	display: flex;
	flex-flow: row;
	width: 100%;
	border-bottom: 1px solid gray;
	border-top: 1px solid var(--T-border-color);
	background-color: var(--bar-bg) !important;
	height: 2.125rem;
}
tab-list > button {
	flex: 0mm;
	min-width: 0;
	padding: 0;
	font-size: 1em;
	border-bottom: none;
   text-shadow:
		-.5px -.5px 1px var(--T-color),
		1px 1px 0px var(--T-color);
}

tab-list > button[aria-selected="true"] {
	border-bottom-color: var(--bar-bg);
}
tab-list > button img.avatar {
	width: auto;
	height: 100%;
}

/* focus */
@keyframes focus-switch {
	from {
		outline-width: 5px;
		outline-offset: -5px;
	}
}
:focus, a:focus > img {
	outline: var(--T-focus-outline);
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -2px;
	animation: focus-switch 0.1s linear;
}

/* markup stuff */
.Markup {
	/* TODO: get rid of all the unnecessary default css */
	/* we don't need to set color and font etc. */
	font: inherit;
	overflow-y: hidden;
	overflow-x: auto;
}

.pageContents.Markup h2,
.pageContents.Markup h3,
.pageContents.Markup h4,
.pageContents.Markup h5 {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.M-spoiler-label {
	contain: none; /* the focus outline wasnt showing, idk why */
}
.M-spoiler-label:focus {
	border-color: var(--T-box-bg);
}
.Markup img:focus {
	outline-offset: 0;
	outline-width: 1px;
	outline-style: dotted;
}
.Markup img, .Markup video {
	-webkit-transition: max-height 0.25s ease;
	transition: max-height 0.25s ease;
}
.Markup [data-big] {
	max-height: 60vh;
}
.Markup img[data-state="error"][alt] {
	width: 100%; /* idk */
}

/* Links */
:any-link {
	text-decoration: none;
}
:any-link {
	color: var(--T-link-color);
}
:any-link:hover {
	color: var(--T-link-hover-color);
	text-decoration: underline;
}
view-header :any-link {
	color: var(--link-invert-color);
}
view-header :any-link:hover {
	color: var(--link-invert-hover-color);
}


/* header */
view-header {
	background: var(--databarbgcolor);
	color: var(--databartxtcolor);
	box-shadow: var(--normal-shadow);
	z-index: 4;
}
view-header .entity-title {
	font-weight: normal;
	color: var(--link-invert-color);
}
view-header h1 .entity-title {
	color: var(--databartxtcolor);
	padding-right: 0.5rem;
}
view-header h1 {
	font-size: 1.625em;
	font-weight: normal;
}
#\$titlePane [data-view]:not(.shown) {
	display: none !important;
}
/* broken? */
view-header.error {
	background: var(--error-invert-bg);
}
view-header.loading {
	background: var(--loading-invert-bg);
}
.loadBG/*, resize-handle*/ {
	/*transition: background-color 0.1s ease;*/
}
view-header {
	--bar-height: 2.25rem;
}
.header-buttons {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: var(--bar-height);
}
.header-buttons > * {
	height: 50%;
	font-weight: bold;
	line-height: 100%;
	font-size: 0.875em;
	padding: 0 0.25em;
	border: 1px solid gray;
}

:root[data-socket-state="opening"] .toggle-sidebar {
	;--button-bg: linear-gradient(#6fb7c0, #6fb7c0, blue)
}
/*:root[data-socket-state="open"] #\$openSidebar {
	;--button-bg: linear-gradient(#3f9f5f, #3f9f5f, green)
}*/
:root[data-socket-pending] .toggle-sidebar {
	;--button-bg: linear-gradient(#e0c87f, #e0c87f, yellow)
}
:root[data-socket-state="dead"] .toggle-sidebar {
	;--button-bg: linear-gradient(#f86060, #f86060, red)
}


/* sidebar comments */
#\$sidebarScroller > * {
	border-top: 1px solid var(--T-border-color);
}
.debugMessage {
	background: var(--bar-bg);
	padding: 2px 3px;
}
pre {
	font: var(--T-monospace-font);
}
.debugMessage > pre {
	overflow-x: scroll;
	white-space: pre;
	border-bottom: 1px solid var(--T-border-color);
}

/* userlist */
.userlist > a {
	width: var(--bar-height);
	height: var(--bar-height);
	border: 1px solid goldenrod;
	margin-left: 1px;
}
.userlist {
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
	min-height: var(--bar-height);
	
	padding: 3px 0;
	background: var(--databarbgcolor);
}
.userlist .avatar {
	width: 100%;
	height: 100%;
}
.userlist2 {
	display: flex;
	background: linear-gradient(var(--databarbgcolor) 0 var(--handle-width), var(--bar-bg) var(--handle-width));
	height: unset !important;
}
.userlist2 > .userlist {
	padding: 3px;
}

.status-idle > .avatar {
	filter: grayscale(1);
}
.userlist2 {
	border-bottom: 1px solid var(--T-border-color);
	box-shadow: var(--normal-shadow);
	z-index: 4;
}

/* damn forms */
form-table > .label {
	font-weight: 500;
	text-align: right;
	padding-right: 0.5rem;
	align-self: center;
}
form-table > .field {
	vertical-align: middle;
}
form-table > .wide.label {
	text-align: left;
	font-weight: 500;
	font-size: 1.1875em;
}

/* general user things */
.entity-title {
	font-weight: 500;
}
.avatar {
	/*border-radius: 3px;*/
	background: var(--T-avatar-bg);
}
time {
	font-size: 0.875em;
	color: var(--T-time-color);
	vertical-align: baseline;
}
.username {
	font-weight: bold;
	line-height: 1.2;
}
.messageGap {
	border: 1px dashed gray; /*♥*/
	margin: 0.3125rem 0;
}
.chat-bottom {
	height: 0.875rem;
}
.iconBg {
	background: no-repeat center / contain;
	margin: 0 0.125rem;
}
.user-label > .avatar {
	margin-right: 1px;
}

/* chat messages */
/*
<message-block> layout:
┌───────────┲━━━━━━━━━━━━━━━━━━━━━┱─┐
│ ╭───────╮ ┃ <message-header>    ┃ │
│ │.avatar│ ┗━━━━━━━━━━━━━━━━━━━━━┛ │
│ ┢━━━━━━━┿┯┯━━━━━━━━━━━━━━━━━━━━━┓ │
│ ┃       ┊╎╎ <message-part>      ┃ │
│ ┃╌╌╌╌╌╌╌╯╎╎                     ┃ │
│ ┃        ╎╎←-(padding-left)     ┃ │
│ ┃      ←-╎╎-(border-left)       ┃ │
│ ┡━━━━━━━━┷┷━━━━━━━━━━━━━━━━━━━━━┩ │
│ ┢━━━━━━━━┯┯━━━━━━━━━━━━━━━━━━━━━┪ │
│ ┃        ╎╎ <message-part>      ┃ │
│ ┃        ╎╎       ...           ┃ │
└─┺━━━━━━━━┷┷━━━━━━━━━━━━━━━━━━━━━┹─┘

DRAW ORDER / z-index - side view
 ←---- x axis ----→
↑  ━━━             <message-controls> (nearest, can cover avatar)
│  ╌╌╌╌━━━━━━━━━━  <message-part> (area covering avatar is seethrough)
Z  ───             .avatar
↓ ---------------- <message-block> (furthest)

<message-block> contains
- <img class=avatar>
- <message-header> (with username/time)
- <message-contents>

within <message-contents> is a list of <message-part>s
(<message-controls> is also inserted here, immediately after the highlighted <message-part>)

each <message-part> actually extends all the way to the left, and uses left border/padding to shift the content out of this 'gutter'
(
the .avatar is set to position: absolute, so it can overlap the left side of the first <message-part>
)

the reason I don't use padding on the CONTAINER instead, is because i need to display <message-controls>:
I need the <message-part>s to extend into the gutter, so that i can detect which <message-part> the mouseover/mouseleave events are for, when the cursor is in over gutter

(I also can't use left margin on <message-block>, since mouse events only apply within the border-box)
*/
message-block {
	display: block;
	position: relative;
	box-sizing: content-box;
	--chat-gutter: 4.5rem;
	--chat-avatar-size: calc(var(--chat-gutter) - 0.5rem - 0.5rem);
	--chat-message-gap: 0.625rem;
	padding-right: 0.5rem;
	padding-top: var(--chat-message-gap);
	min-height: var(--chat-avatar-size);
	/* border-left: 0.5em solid rgb(255,153,153) */
	font-size: 1em; /* ? */
}
message-block > img.avatar {
	display: inline-block;
	position: absolute;
	z-index: -1;
	width: var(--chat-avatar-size);
	height: var(--chat-avatar-size);
	border: none; /*1px solid #777*/
	margin-left: 0.5rem;
	/*background-color: transparent*/
	/*background-color: #AAB*/
						
}
message-block > .bigAvatar {
	position: absolute;
	width: calc(var(--chat-gutter));
	height: 100%;
	left: 0;
	top: 0;
	background: no-repeat center top / cover;
}
message-block > message-header {
	display: flex;
	flex-wrap: wrap-reverse;
	margin-left: var(--chat-gutter);
	/* make the timestamp go into margins if there's not enough space */
	min-height: calc(var(--chat-message-gap) + 1.1875rem); /* 1.1875 = text line height */
	margin-top: calc(0rem - var(--chat-message-gap));
	align-items: flex-start;
}
message-block > message-header > time {
	flex-grow: 1;
	text-align: right;
	font-weight: normal;
	color: var(--chat-dim-color);
	/* line-height: 1 ;" this looks better when the time wraps, since it takes up less space, but otherwise, means the time is aligned too low */
}
message-username {
	line-height: 1.2;
}
.real-name-label {
	color: gray;
}
message-contents {
	display: block;
	min-height: 1.5rem; /*this is so <message-controls> always has somewhere to be shown*/
	margin: 0.125rem 0;
	overflow-y: hidden; /* do we need this */
}
/* because of overlapping with avatar: */
message-contents, message-part {
	contain: none;
}
/* message parts */
message-part {
	display: block;
	overflow: visible;
	min-height: 1rem;
	/* we can't use margin, because it doesn't get mouseover events */
	padding: 0.125rem 0;
	border-left: calc(var(--chat-gutter) - 0.5rem + 3px) solid transparent;
	padding-left: calc(0.1875rem + 0.5rem - 3px);
	/* the padding overlaps with avatars, so clip bg to content-box */
	-webkit-background-clip: padding !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}
message-part.edited {
	box-shadow: 1.25px 0 inset var(--T-edit-color);
}
message-part:focus {
	background: var(--message-focus-bg);
	outline: none;
}
/* todo: make this nicer. we have all that space in the left margin now, the issue is just containment etc. need to disable all that i guess.. idk probably fine for search results ? ehh */
message-part.boundary-top {
	border-top: 2px solid red;
}
message-part.boundary-bottom {
	border-bottom: 2px solid red;
}

/* message action controls */
message-controls {
	display: inline-flex;
	position: absolute;
	width: var(--chat-gutter);
	z-index: 9;
	-webkit-user-select: none; -moz-user-select: none; user-select: none;
}
/* hack, ignore */
message-controls > div {
	padding: 0.125rem 0;
	width: 0;
	overflow: hidden;
}
message-controls > button[data-action="info"]::before {
	content: "⚙️";
}
message-controls > button[data-action="edit"]::before {
	content: "✏️";
}
message-controls > button[data-action="speak"]::before {
	content: "💬️";
}
message-controls > button:nth-child(n) {
	flex-grow: 1;
	padding: 0;
}
message-controls:hover + message-part {
	background: var(--message-hover-bg);
}

/* chat input pane */
.inputPane {
	align-items: stretch;
	background: var(--bar-bg);
}
view-root.f-editing .chatTextarea {
	background: var(--edit-textarea-bg);
}
.chatTextarea[disabled] {
	background: silver;
}
view-root.f-editing .hideWhenEdit,
view-root:not(.f-editing) .showWhenEdit {
	display: none !important;
}

/* misc views */
.editor-textarea {
	min-height: 3rem;
	overflow-y: scroll;
	resize: none;
}
.errorPage {
	padding: 0.1875rem;
}
.search-comment {
	border-bottom: 1px solid var(--T-border-color);
}
.search-comment-page {
	background: var(--bar-bg);
}
.search-comment-buttons {
	width: 1.5rem;
	justify-content: space-between;
}
.search-comment-buttons > button {
	max-height: 3rem;
	flex-grow: 1;
	padding: 0;
}
.nav {
	background: var(--light-invert-bg);
	color: var(--databartxtcolor);
	--T-link-color: var(--link-invert-color);
	--T-link-hover-color: var(--link-invert-hover-color);
}
.nav > span {
	color: var(--databartxtcolor);
}

/* file viewer */
.images-thumbnails img {
	cursor: pointer;
	height: 60px;
	width: 60px;
}
.images-current {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid gray;
}
.images-container {
	flex-grow: 1;
}

/* page */
/* hecko yo */
.pageContents {
	max-width: 100%;
	overflow-x: auto;
	padding: 1.5rem;
}
.editPageContents {
	padding: 0 1.5rem;
	border: 1.5rem #F882;
	border-style: solid none;
}
.pageInfoPane {
	display: flex;
	padding: 0 0.3125rem;
	border-bottom: 1px solid var(--T-border-color);
	background: var(--bar-bg);
	box-shadow: var(--normal-shadow);
}
/* user page */
.userPageBox {
	align-items: flex-start;
	overflow: auto;
}

.userPageAvatar {
	display: inline-block;
	position: relative;
	width: 10rem;
	height: 10rem;
	flex-shrink: 1;
	margin-bottom: 5px;
	
	z-index: 2;
	box-shadow: 2px 2px 5px gray;
}
.userPageAvatar > img {
	width: 100%;
	height: 100%;
}

.userPageContents {
	flex-basis: 0;
	flex-grow: 1;
}

/*@media (max-width: 700px) {
	/* this is broken /
	.userPageBox {
		;flex-direction: column
		;max-height: none
	}
	.userPageBox .userPageContents {
		;flex-basis: auto
		;width: 100%
	}
}*/

/* sidebar */
sidebar-container {
	background: var(--T-bg);
	width: 30vw; /* just a default */
	min-width: 6em !important;
	z-index: 20;
}
not-sidebar {
	min-width: 9em !important;
}
.registerBox {
	padding: 0.3125rem 0.5rem;
}
#\$closeSidebar {
	height: 2.3125rem;
	width: 100%;
}

#\$sidebarResize /*, #\$sidebar_tabs*/ {
	box-shadow: var(--normal-shadow);
	z-index: 30;
}
.image-box > img {
	border: 1px solid black;
}
#\$openSidebar {
	position: absolute;
	width: 2.25rem;
	height: 2.25rem;
	top: 0;
	right: 0;
	z-index: 90;
}

/* sidebar activity */
#\$sidebarActivity {
	padding-top: 0.1875rem;
}
.activity-page {
	display: block;
	border-bottom: 1px solid var(--T-border-color);
	border-top: 1px solid white;
	padding: 1px 0;
	padding-left: 0.1875rem;
	background: var(--T-bg);
}
.activity-page-bottom {
	display: flex;
	height: 1.5rem;
}
activity-users {
	text-align: right;
	white-space: pre;
	overflow-x: visible;
	padding: 0 3px;
}
/* todo: the css/html for watch activity items is mostly a hack */
.activity-watch {
	display: flex;
}
.activity-watch > .activity-page-bottom {
	flex-shrink: 2;
	flex-grow: 1;
}
.activity-watch > .activity-page-bottom > time {
	width: 100%;
	text-align: right;
	padding-left: 0.125em;
	text-overflow: clip;
}

/* sidebar settings list */
#\$localSettings > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#\$localSettings > div > * {
	flex-grow: 1;
	flex-shrink: 0;
	width: 49%;
	min-width: 6.5em;
}
#\$localSettings > div > :last-child {
	flex-grow: 1;
}
#\$localSettings > div > textarea {
	width: 100%;
	height: 5.1875em;
}
#\$localSettings > div > label {
	font-weight: 500;
	line-height: 1em;
	padding-bottom: .1875em;
}
#\$localSettings > div {
	column-gap: 0.1875rem; /* todo: we can't use this heck! */
	margin-bottom: 0.3125rem;
}
#\$debugInput {
	resize: vertical;
	overflow-y: scroll;
	width: 100%;
}

.action-user .avatar {
	border: 1px solid gray;
}
.action-user {
	position: relative;
}
.action-user::after {
	content: '✏️';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow:
		-.5px -.5px 1px black,
		1px 1px 0px black;
}

/* contain */
#\$sidebarBottom,
.sidebar-comment,
#\$sidebarActivity > .linkBar {
	contain: strict;
}
/* mobile stuff */
@media all and (max-width: 700px) {
	input, textarea {
		font-size: 1em;
	}
	/* message-block { --chat-gutter: 3rem; } */
}

/* ios safari */
@supports (-webkit-touch-callout: none) {
	/* give space to the left so the cursor can reach there */
	textarea-container > textarea {
		padding-left: 2px;
		width: -webkit-fill-available; width: -moz-available; width: stretch;
	}
}
