/*
todo: look into https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#system_colors


*/

html {
	color-scheme: light;
	/* text colors (black) */
	--maincolor: black;
	--linkcolor: #045;
	--link-hover-color: rgb(0,150,136);
	--link-bg-color: #E5E5FF;
	--time-color: #333;
	--border-color: gray;
	--chat-dim-color: #666;
	--image-border-color: silver;
	/* background colors (white) */
	--mainbg: white;
	--avatar-bg: white;
	--button-hover-color: #59E;
	--message-hover-bg: #DDD;
	--message-focus-bg: #E5FCFF;
	--bar-bg: #EEE;
	--button-bg: linear-gradient(#EEE, #CCC);
	--button-active-bg: linear-gradient(#DDD, #EEE);
	--button-selected-bg: linear-gradient(#888, #AAA);
	--error-bg: pink;
	--bgred: #FCC;
	--bgorange: #FEA;
	--bgyellow: #FF8;
	--bggreen: #CFC;
	--bgblue: #CEF;
	--bgpurple: #ECF;
	--bggray: #DDD;
	--spoiler-bg: #F7F7F7;
	--edit-textarea-bg: #FFFF80;
	--normal-shadow: 0 2px 3px rgba(0,0,0,0.3);
	/* inverted text colors (white) */
	--databartxtcolor: white;
	--link-invert-color: #DEF;
	--link-invert-hover-color: #EFF;
	/* inverted bg colors (black) */
	--databarbgcolor: #222;
	--light-invert-bg: #333;
	--loading-invert-bg: #327070; /*linear-gradient(#225450, #327070); removed because of flicker ? i think we need to animate to another gradient or? */
	--error-invert-bg: #800;
	--input-border-color: #BBB #DDD #DDD #BBB;
}

html[data-theme="dark"], html.f-dark:not([data-theme]) {
	color-scheme: dark;
	--maincolor: white;
	--linkcolor: #9CE;
	--link-hover-color: #5CE;
	--link-bg-color: #156;
	--time-color: #EEE;
	--border-color: black;
	--chat-dim-color: #666;
	--image-border-color: gray;
	
	--mainbg: #292929;
	--avatar-bg: gray;
	--button-hover-color: #59E;
	--bar-bg: #555;
	--spoiler-bg: #444;
	--button-bg: linear-gradient(#048, #035);
	--button-active-bg: linear-gradient(#047, #047);
	--button-selected-bg: linear-gradient(#048, #07A);
	--error-bg: maroon;
	--bgred: #6A2C2C;
	--bgblue: #2C4A6A;
	--bggreen: #2C6A2C;
	--bgyellow: #6A6A2C;
	--bgorange: #6A4A2C;
	--bggray: #383838;
	--bgpurple: #592C6A;
	--edit-textarea-bg: #750;
	--normal-shadow: 0 2px 3px rgba(0,0,0,0.3);
	/* in dark theme, the inverted colors are just normal dark */
	--databartxtcolor: var(--maincolor);
	--link-invert-color: var(--linkcolor);
	--link-invert-hover-color: var(--link-hover-color);
	
	--databarbgcolor: #000;
	--light-invert-bg: #111;
	--loading-invert-bg: #327070;
	--error-invert-bg: #800;
	--message-hover-bg: #444;
	--message-focus-bg: #253C3F;
	
	--input-border-color: #444 #555 #555 #444;
}
