:root {
	--T-font: 1em roboto, sans-serif;
	--T-monospace-font: 0.8em 'cascadia code', consolas, monospace;
}

html {
	color-scheme: light;
	/* text colors (black) */
	--T-col: black;
	--linkcolor: #045;
	--link-hover-color: rgb(0,150,136);
	--T-link-bg: #E5E5FF;
	--time-color: #333;
	--T-border-col: gray;
	--chat-dim-color: #666;
	--image-border-color: silver;
	/* background colors (white) */
	--T-bg: white;
	--T-box-bg: #F7F7F7;
	--avatar-bg: white;
	--button-hover-color: #59E;
	--message-hover-bg: #DDD;
	--message-focus-bg: #E5FCFF;
	--bar-bg: #EEE;
	--button-bg: linear-gradient(#EEE, #CCC);
	--button-active-bg: linear-gradient(#DDD, #EEE);
	--button-selected-bg: linear-gradient(#888, #AAA);
	--error-bg: pink;
	--T-red-bg: #FCC;
	--T-orange-bg: #FEA;
	--T-yellow-bg: #FF8;
	--T-green-bg: #CFC;
	--T-blue-bg: #CEF;
	--T-purple-bg: #ECF;
	--T-gray-bg: #DDD;
	--edit-textarea-bg: #FFFF80;
	--normal-shadow: 0 2px 3px rgba(0,0,0,0.3);
	/* inverted text colors (white) */
	--databartxtcolor: white;
	--link-invert-color: #DEF;
	--link-invert-hover-color: #EFF;
	/* inverted bg colors (black) */
	--databarbgcolor: #222;
	--light-invert-bg: #333;
	--loading-invert-bg: rgb(0,150,136); /*linear-gradient(#225450, #327070); removed because of flicker ? i think we need to animate to another gradient or? */
	--error-invert-bg: #800;
	--input-border-color: #BBB #DDD #DDD #BBB;
}

html[data-theme="dark"], html.f-dark:not([data-theme]) {
	color-scheme: dark;
	--T-col: white;
	--linkcolor: #9CE;
	--link-hover-color: #5CE;
	--T-link-bg: #156;
	--time-color: #EEE;
	--T-border-col: black;
	--chat-dim-color: #666;
	--image-border-color: gray;
	
	--T-bg: #292929;
	--T-box-bg: #444;
	--avatar-bg: gray;
	--button-hover-color: #59E;
	--bar-bg: #555;
	--button-bg: linear-gradient(#048, #035);
	--button-active-bg: linear-gradient(#047, #047);
	--button-selected-bg: linear-gradient(#048, #07A);
	--error-bg: maroon;
	--T-red-bg: #6A2C2C;
	--T-blue-bg: #2C4A6A;
	--T-green-bg: #2C6A2C;
	--T-yellow-bg: #6A6A2C;
	--T-orange-bg: #6A4A2C;
	--T-gray-bg: #383838;
	--T-purple-bg: #592C6A;
	--edit-textarea-bg: #750;
	--normal-shadow: 0 2px 3px rgba(0,0,0,0.3);
	/* in dark theme, the inverted colors are just normal dark */
	--databartxtcolor: var(--T-col);
	--link-invert-color: var(--linkcolor);
	--link-invert-hover-color: var(--link-hover-color);
	
	--databarbgcolor: #000;
	--light-invert-bg: #111;
	--loading-invert-bg: #327070;
	--error-invert-bg: #800;
	--message-hover-bg: #444;
	--message-focus-bg: #253C3F;
	
	--input-border-color: #444 #555 #555 #444;
}
